In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import linregress
import random
import os

In [6]:
years = [2013, 2014, 2015, 2016, 2017, 2018]

file_to_load1 = os.path.join("Output CSVs", "NYcrime.csv")

NYcrimeDF = pd.read_csv(file_to_load1)

NYcrimeRates = NYcrimeDF.loc[NYcrimeDF["variable"] == "rate"]

NYcrimeRatesViolent = NYcrimeRates.loc[NYcrimeRates["crime_type"] == "Violent crime"]
NYcrimeRatesViolent = NYcrimeRatesViolent.drop_duplicates()
NYcrimeRatesViolentYears = NYcrimeRatesViolent.loc[NYcrimeRatesViolent["year"].isin(years)]
NYcrimeRatesViolentYears

,key,id,name,type,variable,value,year,crime_type,place_name
81,1600000US3651000--2014--Violent crime--rate,1600000US3651000,"New York, New York",place,rate,596.700141,2014,Violent crime,"New York, NY"
161,1600000US3651000--2013--Violent crime--rate,1600000US3651000,"New York, New York",place,rate,623.906787,2013,Violent crime,"New York, NY"
191,1600000US3651000--2015--Violent crime--rate,1600000US3651000,"New York, New York",place,rate,585.765574,2015,Violent crime,"New York, NY"
221,1600000US3651000--2016--Violent crime--rate,1600000US3651000,"New York, New York",place,rate,573.415150,2016,Violent crime,"New York, NY"

In [7]:
file_to_load2 = os.path.join("Output CSVs", "COcrime.csv")

COcrimeDF = pd.read_csv(file_to_load2)

COcrimeRates = COcrimeDF.loc[COcrimeDF["variable"] == "rate"]

COcrimeRatesViolent = COcrimeRates.loc[COcrimeRates["crime_type"] == "Violent crime"]
COcrimeRatesViolent = COcrimeRatesViolent.drop_duplicates()
COcrimeRatesViolentYears = COcrimeRatesViolent.loc[COcrimeRatesViolent["year"].isin(years)]
COcrimeRatesViolentYears

,key,id,name,type,variable,value,year,crime_type,place_name
6,1600000US0816000--2013--Violent crime--rate,1600000US0816000,"Colorado Springs, Colorado",place,rate,434.066791,2013,Violent crime,"Colorado Springs, CO"
62,1600000US0816000--2014--Violent crime--rate,1600000US0816000,"Colorado Springs, Colorado",place,rate,458.254766,2014,Violent crime,"Colorado Springs, CO"
213,1600000US0816000--2016--Violent crime--rate,1600000US0816000,"Colorado Springs, Colorado",place,rate,495.784432,2016,Violent crime,"Colorado Springs, CO"
249,1600000US0816000--2015--Violent crime--rate,1600000US0816000,"Colorado Springs, Colorado",place,rate,438.319224,2015,Violent crime,"Colorado Springs, CO"

In [8]:
CO_NYcrime = pd.merge(COcrimeRatesViolentYears, NYcrimeRatesViolentYears, how='outer', on=["name", "year", "type", "crime_type", "value", "variable"])

CO_NYcrime = CO_NYcrime.drop(columns=["key_x", "id_x", "key_y", "id_y", "place_name_y", "place_name_x"])
CO_NYcrime

                         name   type variable       value  year     crime_type
0  Colorado Springs, Colorado  place     rate  434.066791  2013  Violent crime
1  Colorado Springs, Colorado  place     rate  458.254766  2014  Violent crime
2  Colorado Springs, Colorado  place     rate  495.784432  2016  Violent crime
3  Colorado Springs, Colorado  place     rate  438.319224  2015  Violent crime
4          New York, New York  place     rate  596.700141  2014  Violent crime
5          New York, New York  place     rate  623.906787  2013  Violent crime
6          New York, New York  place     rate  585.765574  2015  Violent crime
7          New York, New York  place     rate  573.415150  2016  Violent crime

In [9]:
file_to_load3 = os.path.join("Output CSVs", "Fortworth.csv")

TXcrimeDF = pd.read_csv(file_to_load3)

TXcrimeRates = TXcrimeDF.loc[TXcrimeDF["variable"] == "rate"]

TXcrimeRatesViolent = TXcrimeRates.loc[TXcrimeRates["crime_type"] == "Violent crime"]
TXcrimeRatesViolent = TXcrimeRatesViolent.drop_duplicates()
TXcrimeRatesViolentYears = TXcrimeRatesViolent.loc[TXcrimeRatesViolent["year"].isin(years)]
TXcrimeRatesViolentYears

,key,id,name,type,variable,value,year,crime_type,place_name
49,1600000US4827000--2013--Violent crime--rate,1600000US4827000,"Fort Worth, Texas",place,rate,560.177939,2013,Violent crime,"Fort Worth, TX"
194,1600000US4827000--2016--Violent crime--rate,1600000US4827000,"Fort Worth, Texas",place,rate,526.266979,2016,Violent crime,"Fort Worth, TX"
240,1600000US4827000--2015--Violent crime--rate,1600000US4827000,"Fort Worth, Texas",place,rate,525.350987,2015,Violent crime,"Fort Worth, TX"
255,1600000US4827000--2017--Violent crime--rate,1600000US4827000,"Fort Worth, Texas",place,rate,560.207727,2017,Violent crime,"Fort Worth, TX"
267,1600000US4827000--2018--Violent crime--rate,1600000US4827000,"Fort Worth, Texas",place,rate,501.479151,2018,Violent crime,"Fort Worth, TX"

In [14]:
CO_TX_NY = pd.merge(CO_NYcrime, TXcrimeRatesViolentYears, how='outer', on=["name", "year", "type", "crime_type", "value", "variable"])

CO_TX_NY = CO_TX_NY.drop(columns=["key", "place_name", "id"])
CO_TX_NY

,name,type,variable,value,year,crime_type
0,"Colorado Springs, Colorado",place,rate,434.066791,2013,Violent crime
1,"Colorado Springs, Colorado",place,rate,458.254766,2014,Violent crime
2,"Colorado Springs, Colorado",place,rate,495.784432,2016,Violent crime
3,"Colorado Springs, Colorado",place,rate,438.319224,2015,Violent crime
4,"New York, New York",place,rate,596.700141,2014,Violent crime
5,"New York, New York",place,rate,623.906787,2013,Violent crime
6,"New York, New York",place,rate,585.765574,2015,Violent crime
7,"New York, New York",place,rate,573.415150,2016,Violent crime
8,"Fort Worth, Texas",place,rate,560.177939,2013,Violent crime
9,"Fort Worth, Texas",place,rate,526.266979,2016,Violent crime
10,"Fort Worth, Texas",place,rate,525.350987,2015,Violent crime
11,"Fort Worth, Texas",place,rate,560.207727,2017,Violent crime
12,"Fort Worth, Texas",place,rate,501.479151,2018,Violent crime

In [15]:
file_to_load4 = os.path.join("Output CSVs", "Riverside.csv")

CAcrimeDF = pd.read_csv(file_to_load4)

CAcrimeRates = CAcrimeDF.loc[CAcrimeDF["variable"] == "rate"]

CAcrimeRatesViolent = CAcrimeRates.loc[CAcrimeRates["crime_type"] == "Violent crime"]
CAcrimeRatesViolent = CAcrimeRatesViolent.drop_duplicates()
CAcrimeRatesViolentYears = CAcrimeRatesViolent.loc[CAcrimeRatesViolent["year"].isin(years)]
CAcrimeRatesViolentYears

,key,id,name,type,variable,value,year,crime_type,place_name
43,1600000US0662000--2013--Violent crime--rate,1600000US0662000,"Riverside, California",place,rate,420.323428,2013,Violent crime,"Riverside, CA"
110,1600000US0662000--2014--Violent crime--rate,1600000US0662000,"Riverside, California",place,rate,433.240571,2014,Violent crime,"Riverside, CA"
215,1600000US0662000--2016--Violent crime--rate,1600000US0662000,"Riverside, California",place,rate,529.003118,2016,Violent crime,"Riverside, CA"
258,1600000US0662000--2015--Violent crime--rate,1600000US0662000,"Riverside, California",place,rate,446.041651,2015,Violent crime,"Riverside, CA"
268,1600000US0662000--2017--Violent crime--rate,1600000US0662000,"Riverside, California",place,rate,508.805785,2017,Violent crime,"Riverside, CA"
289,1600000US0662000--2018--Violent crime--rate,1600000US0662000,"Riverside, California",place,rate,509.331706,2018,Violent crime,"Riverside, CA"

In [16]:
CO_TX_NY_CA = pd.merge(CO_TX_NY, CAcrimeRatesViolentYears, how='outer', on=["name", "year", "type", "crime_type", "value", "variable"])

CO_TX_NY_CA = CO_TX_NY_CA.drop(columns=["key", "place_name", "id"])
CO_TX_NY_CA

,name,type,variable,value,year,crime_type
0,"Colorado Springs, Colorado",place,rate,434.066791,2013,Violent crime
1,"Colorado Springs, Colorado",place,rate,458.254766,2014,Violent crime
2,"Colorado Springs, Colorado",place,rate,495.784432,2016,Violent crime
3,"Colorado Springs, Colorado",place,rate,438.319224,2015,Violent crime
4,"New York, New York",place,rate,596.700141,2014,Violent crime
5,"New York, New York",place,rate,623.906787,2013,Violent crime
6,"New York, New York",place,rate,585.765574,2015,Violent crime
7,"New York, New York",place,rate,573.415150,2016,Violent crime
8,"Fort Worth, Texas",place,rate,560.177939,2013,Violent crime
9,"Fort Worth, Texas",place,rate,526.266979,2016,Violent crime
10,"Fort Worth, Texas",place,rate,525.350987,2015,Violent crime
11,"Fort Worth, Texas",place,rate,560.207727,2017,Violent crime
12,"Fort Worth, Texas",place,rate,501.479151,2018,Violent crime
13,"Riverside, California",place,rate,420.323428,2013,Violent crime
14,"Riverside, California",place,rate,433.240571,2014,Violent crime
15,"Riverside, California",place,rate,529.003118,2016,Violent crime
16,"Riverside, California",place,rate,446.041651,2015,Violent crime
17,"Riverside, California",place,rate,508.805785,2017,Violent crime
18,"Riverside, California",place,rate,509.331706,2018,Violent crime